<div>
  <table>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Year Found</th>
      <th>Month Found</th>
      <th>Origin</th>
    </tr>
    <tr>
      <td><%= alien['id'] %></td>
      <td><%= alien['name'] %></td>
      <td><%= alien['year'] %></td>
      <td><%= alien['month'] %></td>
      <td><%= alien['origin'] %></td>
    </tr>
  </table>
</div>